{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block title %}Ajouter un livre{% endblock %}

{% block body %}
    <main>
        <div class="p-3 mx-auto text-center">
            <h1 class="display-4">Ajouter un livre</h1>
        </div>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto">
                        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.author) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.genre) }}
                        {{ form_row(form.coverImage) }}
                        {{ form_rest(form) }}
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary d-block" style="display:block">Enregistrer le livre</button>
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
